<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Target Zero Crew Allocation Display</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='TZ-icon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=21" />
</head>

<body>
    <div class="container">
        <div class="row">
            
            
            <div class="col">
                {% if request.path != url_for('index') %}
                <a href="{{url_for('index')}}" class="text-decoration-none"><h1>Crew Allocation</h1></a>
                {% else %}
                <h1>Crew Allocation</h1>
                {% endif %}
                <h2>{% block subheading %}{% endblock %}</h2>
            </div>
            <div class="col">
                <img id="tz_logo" class="float-right" src="{{ url_for('static', filename='tz_group_logo.png') }}">
            </div>
            <div class="w-100" id="content-spacer"></div>
        
            <div class="col-md-9">
                {% with messages = get_flashed_messages(category_filter=["message"]) %}
                    {% if messages %}
                    <div class="alert alert-danger alert-dismissible fade show text-break" role="alert">
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-9">
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show text-break" role="alert">
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endif %}
                {% endwith %}
            </div>
            {% block content %}{% endblock %}
        
        </div> <!-- row -->
    </div> <!-- container -->
</body>
<script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='crewalloc.js') }}?v=29"></script>
{% block script %}{% endblock %}
</html>