<html>
    <head>
        <title>TZ Crew Allocation for {{ works.date.strftime("%A, %d %B %Y") }}</title>
        {% if export %}
        <link rel="stylesheet" href="./crewalloc/static/css/bootstrap.min.css" />
        <meta http-equiv="refresh" content="30">
        {% else %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='TZ-icon.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        {% endif %}
    </head>
    <body class="text-white bg-secondary">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h2 class="pt-3">{{ works.date.strftime("%A, %d %B %Y") }}</h2>
                </div>
                <div class="col-1">
                    <h2  class="pt-3" id="current_time"></h2>
                </div>
                <div class="col-1">
                    {% if export %}
                    <img id="tz_logo" src="./crewalloc/static/tz_group_logo.png" class="float-right img-fluid">
                    {% else %}
                    <img id="tz_logo" src="{{ url_for('static', filename='tz_group_logo.png') }}" class="float-right img-fluid">
                    {% endif %}
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages and not export %}
                <div class="w-100"></div>
                <div class="col-12">
                    <div class="error alert alert-danger">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="row pt-2">
                {% if works.worksheetloaded and works.jobs|length > 0 %}
                <div class="card-deck mx-0">
                {% for job in works.jobs %}
                    
                    <div class="card bg-dark border-light mx-2">
                        <div class="card-body">
                            <div class="card-header border-secondary pb-2">
                                <h2 class="card-title">{{job['project']}}</h2>
                                {% set jobid = job['job'] ~ job['quote'] %}
                                {% if jobid != "0" %}
                                <h4 class="card-subtitle text-muted">{{jobid}}</h4>
                                {% endif %}
                            </div>
                            <ul class="list-unstyled font-weight-bold h4 pt-2">
                            {% for crew in job['crew'] %}
                                <li>{{ crew|first|replace('Benjamin Moor', 'Ben Moor') }}&nbsp;</li>
                            {% endfor %}
                            </ul>
                            {% if job['equipment']|length > 0 %}
                            <hr class="bg-secondary">
                            <div class="h5">
                                {{ job['equipment']|map('first')|join(', ') }}
                            </div>
                            {% endif %}
                            <hr class="bg-secondary">
                            <div class="h5">
                                {{ job['scope'] }}
                            </div>
                            {% if job['subcontractors']|length > 0 %}
                            <hr class="bg-secondary">
                            <div class="h5">
                                {{ job['subcontractors']|map('first')|join(', ') }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                
                {% endfor %}
                </div>
                <div class="w-100"></div>
                <div class="col-12 pt-2 h5">
                    <p><b>Absent: </b>{{ works.absentees|join(', ') }}</p>
                    {% else %}
                    <div class="error">No data found!</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
    {% if export %}
    <script src="./crewalloc/static/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        function getTime() {
            var d = new Date();
            var hr = d.getHours();
            var m = d.getMinutes();
            var ampm = "AM";

            if( hr > 12 ) {
                hr -= 12;
                ampm = "PM";
            }
            if( m < 10) {
                m = "0" + m;
            }
            return hr + ":" + m + ampm
        }

        function updateTime() {
            $("#current_time").text(getTime());
        }
    
        $(function() {
            $("#current_time").text(getTime());
            setInterval(updateTime, 1000);
        });
    </script>
    {% endif %}
</html>

{% if export %}
{% block script %}
<script type=text/javascript>
    document.addEventListener("visibilitychange", onchange);

    function onchange(evt) {
        if(document.visibilityState == "visible") {
            location.reload();
        }
    }
</script>
{% endblock %}
{% endif %}