{% extends 'base.html' %}

{% block subheading %}{% block title %}Error 404{% endblock %}{% endblock %}

{% block content %}
    <div class="col-12">
        <h2>Page not found!</h2>
    </div>
{% endblock %}
