{% extends 'base.html' %}

{% block subheading %}{% block title %}Weather Forecast{% endblock %}{% endblock %}

{% block content %}
<div class="col-12 py-3 pl-5 bg-dark text-white">
    <h1 class="display-3">Today's Forecast for {{forecast.aac_name}}</h1>
</div>
<div class="col-6 py-3 pl-5 bg-secondary text-white">
    <h2>Maximum Temp: {{forecast.air_temperature_maximum}}&deg;C</h2>
</div>
<div class="col-6 py-3 bg-secondary text-white">
    <h2>{{forecast.probability_of_precipitation}} chance of rain.</h2>
</div>
<div class="col-12 py-3 border border-primary rounded mt-3">
    <h3>{{forecast.precis}}</h3>
</div>
{% endblock %}

{% block script%}
<script type=text/javascript>
    document.addEventListener("visibilitychange", onchange);

    function onchange(evt) {
        if(document.visibilityState == "visible") {
            location.reload();
        }
    }
</script>
{% endblock %}