{% extends 'base.html' %}

{% block subheading %}{% block title %}Display Exporter{% endblock %}{% endblock %}

{% block content %}
    <div class="col-md-5">
        <form method="POST">
            <input type="hidden" name="form-id" value="main">
            <input type="hidden" name="target_day" id="target_day" value="">
            <fieldset id="inpbuttons">
                <input type="submit" name="Submit" value="Show Today" class="btn btn-primary">
                <input type="submit" name="Submit" value="Show Tomorrow" class="btn btn-primary">
                {% if showmonday %}
                <input type="submit" name="Submit" value="Show Monday" class="btn btn-primary">
                {% endif %}
            </fieldset>
        </form>
    </div>
    <div id="load-anim" class="invisible col-md-4">
        <strong>Loading... </strong>
        <div class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="col-md-1 offset-md-2 text-right">
        <a href="{{url_for('settings')}}" class="h3"><i class="fas fa-cog"></i></a>
    </div>
    <!-- <div class="w-100"><hr></div> -->
    <div class="col mt-3 border-top">
        <h3>Daily Work Instructions</h3>
        <form method="POST" class="form">
            <input type="hidden" name="form-id" value="dwi">
            <div class="form-group form-inline">
                <label for="{{form.target_date.id}}">{{form.target_date.label}}</label>
                {{form.target_date()|safe}}
                <input type="submit" name="Submit" value="Show" class="btn btn-primary">
            </div>
        </form>
        {% if form.target_date.errors %}
        <div class="alert alert-danger" role="alert">
            <ul class="list-unstyled mb-0">
            {% for error in form.target_date.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <a href="{{ url_for('dwi_list') }}" class="btn btn-primary">Show all</a>
    </div>
    <div class="col mt-3 border-top">
        <h4>Last month's works summary</h4>
        <form method="POST" class="form-inline">
            <input type="hidden" name="form-id" value="summary">
            <input type="submit" name="Submit" value="Show" class="btn btn-primary">
        </form>
    </div>
    <div class="col-12 mt-3 pt-3 border-top">
        <a href="{{url_for('project_details')}}" class="btn btn-primary">Project Details</a>
    </div>
{% endblock %}
