{% extends 'base.html' %}

{% block subheading %}{% block title %}Project Details{% endblock %}{% endblock %}

{% block content %}
<div class="col-md-9 d-print-none">
    <form method="post">
        <div class="form-group">
            <label for="project-select">Select Project</label>
            <select name="project" id="project-select" class="custom-select" autofocus>
                <option value="" selected>Select project...</option>
                {% for project in projects %}
                {% if projnum and project == projnum|int %}
                <option value="{{ project }}" selected>{{ project }} - {{ projects[project][:2]|join(' - ') }}</option>
                {% else %}
                <option value="{{ project }}">{{ project }} - {{ projects[project][:2]|join(' - ') }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>
</div>
{% if projnum %}
<div class="col-12 py-3">
    <h3 class="text-center">Project <span class="bg-info text-white px-3 rounded-pill">{{ projnum }} -
            {{ projects[projnum|int][0] }}</span></h3>
    <h5>Project Manager: {{ projdetails['PMs'][projects[projnum|int][1]]}}</h5>
    <div class="row">
        <div class="col-auto mx-auto">
            <table class="table table-sm text-right ml-3 mb-0 border border-dark">
                <thead class="thead-dark text-left">
                    <th colspan="2">
                        Project Summary
                    </th>
                </thead>
                <tr>
                    <th>Project Value:</th>
                    <td>${{ '{:,.2f}'.format(projects[projnum|int][2] or 0) }}</td>
                </tr>
                <tr>
                    <th>Project Revenue:</th>
                    <td>{{ '{:,.2f}'.format(projdetails.revenue) }}</td>
                </tr>
                <tr>
                    <th>Percent Complete:</th>
                    <td class="text-muted">Coming soon!</td>
                </tr>
                <tr>
                    <th>Total crew hours:</th>
                    <td>{{ '{:,.2f}'.format(projdetails['crewcost'][1] or 0) }}</td>
                </tr>
                <tr class="table-dark text-left">
                    <th colspan="2">Cost Summary</th>
                </tr>
                <tr>
                    <th>Total crew cost:</th>
                    <td>${{ '{:,.2f}'.format(projdetails['crewcost'][0] or 0) }}</td>
                </tr>
                <tr>
                    <th>Total equipment cost:</th>
                    <td>${{ '{:,.2f}'.format(projdetails['equipcost'] or 0) }}</td>
                </tr>
                <tr>
                    <th>Total subcontractor cost:</th>
                    <td>${{ '{:,.2f}'.format(projdetails['subccost'] or 0) }}</td>
                </tr>
                <tr>
                    <th>Total materials cost:</th>
                    <td>${{ '{:,.2f}'.format(projdetails['materialcost'] or 0) }}</td>
                </tr>
                <tfoot class="table-success">
                    <th>Total cost:</th>
                    <th>${{ '{:,.2f}'.format(projdetails['crewcost'][0] + projdetails['equipcost'] + projdetails['subccost'] + projdetails['materialcost']) }}
                    </th>
                </tfoot>
            </table>
        </div>

        <div class="col pl-5">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link {% if not allmdetails and not allsdetails %}active{% endif %}" id="nav-day-tab" data-toggle="tab" href="#nav-day" role="tab" aria-controls="nav-day"{% if not allmdetails and not allsdetails %} aria-selected="true"{% endif %}>Days <span class="badge badge-primary">{{ projdetails['jobdays']|length }}</span></a>
                    <a class="nav-item nav-link {% if allmdetails %}active{% endif %}" id="nav-matl-tab" data-toggle="tab" href="#nav-matl" role="tab" aria-controls="nav-matl"{% if allmdetails %} aria-selected="true"{% endif %}>Materials <span class="badge badge-primary">{{ jobmaterials|length }}</span></a>
                    <a class="nav-item nav-link {% if allsdetails %}active{% endif %}" id="nav-subc-tab" data-toggle="tab" href="#nav-subc" role="tab" aria-controls="nav-subc"{% if allsdetails %} aria-selected="true"{% endif %}>Subcontractors <span class="badge badge-primary">{{ jobsubs|length }}</span></a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade {% if not allmdetails and not allsdetails %}show active{% endif %}" id="nav-day" role="tabpanel" aria-labelledby="nav-day-tab">
                    <form method="post">
                        <input type="hidden" name="project" value="{{ projnum }}">
                        {% for date in projdetails.jobdays %}
                        <button name="jobdayid" type="submit" class="btn btn-outline-primary my-1"
                            value="{{ date[0] }}">{{ date[1] }}</button>
                        {% endfor %}
                        {% if projdetails.jobdays|length > 1 %}
                        <button name="jobdayall" class="btn btn-primary my-1 d-print-none">All days</button>
                        {% endif %}
                    </form>
                </div>
                <div class="tab-pane fade {% if allmdetails %}show active{% endif %}" id="nav-matl" role="tabpanel" aria-labelledby="nav-matl-tab">
                    <form method="post">
                        <input type="hidden" name="project" value="{{ projnum }}">
                        {% for material in jobmaterials|map(attribute='material') %}
                        <button name="material", type="submit" class="btn btn-outline-primary my-1" value="{{ material }}">{{ material }}</button>
                        {% endfor %}
                        {% if jobmaterials|length > 1 %}
                        <button name="materialall" class="btn btn-primary my-1 d-print-none">All materials</button>
                        {% endif %}
                    </form>
                </div>
                <div class="tab-pane fade {% if allsdetails %}show active{% endif %}" id="nav-subc" role="tabpanel" aria-labelledby="nav-subc-tab">
                    <form method="post">
                        <input type="hidden" name="project" value="{{ projnum }}">
                        {% for subc in jobsubs|map(attribute='subcontractor') %}
                        <button name="subc", type="submit" class="btn btn-outline-primary my-1" value="{{ subc }}">{{ subc }}</button>
                        {% endfor %}
                        {% if jobsubs|length > 1 %}
                        <button name="subcall" class="btn btn-primary my-1 d-print-none">All subcontractors</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endif %}
{% if alldaydetails %}
{% if alldaydetails|length > 1 %}
<div class="col-auto mx-auto">
    <h4>Monthly Cost Breakdown</h4>
    <table class="table table-sm border border-dark text-right">
        <tr><td></td><th>Crew</th><th>Equipment</th><th>Subcontractors</th><th>Materials</th><th class="table-success">Total</th></tr>
    {% for month, daydtls in alldaydetails|groupby('month') %}
    {% set crewsum = daydtls|map(attribute='crew')|map('sum', 'cost')|sum %}
    {% set equipmentsum = daydtls|map(attribute='equipment')|map('sum', 'cost')|sum %}
    {% set subcontractorsum = daydtls|map(attribute='subcontractor')|map('sum', 'cost')|sum %}
    {% set materialsum = daydtls|map(attribute='material')|map('sum', 'cost')|sum %}
    <tr>
        <th class="text-right">{{ month.strftime('%B %Y') }}</th>
        <td>${{ '{:.2f}'.format(crewsum) }}</td>
        <td>${{ '{:.2f}'.format(equipmentsum) }}</td>
        <td>${{ '{:.2f}'.format(subcontractorsum) }}</td>
        <td>${{ '{:.2f}'.format(materialsum) }}</td>
        <th class="table-success">${{ '{:.2f}'.format(crewsum + equipmentsum + subcontractorsum + materialsum) }}</th>
    </tr>
    {% endfor %}
    </table>
</div>
{% endif %}
{% for daydetails in alldaydetails %}
<div class="col-12 pt-3 border-top border-bottom border-dark">
    <div class="row">
        <div class="col-auto">
            <h4>Day details for <span class="bg-info text-white px-3 rounded-pill">{{ daydetails.times[0] }}</span>
                <span class="h5 text-secondary">{{ daydetails.times[1:3]|join(' - ') }}</span>
            </h4>
        </div>
        <div class="col-auto ml-auto">
            <h4>Revenue: ${{ '{:.2f}'.format(daydetails.times[-1] or 0.0) }}</h4>
        </div>
    </div>
</div>
<div class="col-6">
    <h4>Crew</h4>
    <table class="table table-sm ml-3">
        <thead>
            <th>Name</th>
            <th>Hours</th>
            <th>Cost</th>
        </thead>
        {% for crew in daydetails.crew %}
        <tr{{ ' class=text-danger' if not crew[2] }}>
            <td>{{ crew[0] }}</td>
            <td>{{ crew[1] }}</td>
            <td>${{ '%.2f' % (crew[2]) }}</td>
        </tr>
        {% endfor %}
        {% if daydetails.crew|length < daydetails.equipment|length %}
        {% for i in range(daydetails.equipment|length - daydetails.crew|length) %}
        <tr><td colspan="3">&nbsp;</td></tr>
        {% endfor %}
        {% endif %}
        <tfoot class="table-success">
            <th class="text-right">Total:</th>
            <th>{{ '{:.2f}'.format(daydetails.crew|sum('crewhours')) }}</th>
            <th>${{ '%.2f' % (daydetails.crew|sum('cost')) }}</th>
        </tfoot>
    </table>
</div>
<div class="col-6">
    <h4>Equipment</h4>
    <table class="table table-sm ml-3">
        <thead>
            <th>Name</th>
            <th>Cost</th>
        </thead>
        {% for equip in daydetails.equipment %}
        <tr{{ ' class=text-danger' if not equip[1] }}>
            <td>{{ equip[0] }}</td>
            <td>${{ '%.2f' % (equip[1]) }}</td>
        </tr>
        {% endfor %}
        {% if daydetails.crew|length > daydetails.equipment|length %}
        {% for i in range(daydetails.crew|length - daydetails.equipment|length) %}
        <tr><td colspan="3">&nbsp;</td></tr>
        {% endfor %}
        {% endif %}
        <tfoot class="table-success">
            <th class="text-right">Total:</th>
            <th>${{ '%.2f' % (daydetails.equipment|sum('cost')) }}</th>
        </tfoot>
    </table>
</div>
<div class="col-6">
    <h4>Subcontractors</h4>
    <table class="table table-sm ml-3">
        <thead>
            <th>Name</th>
            <th>Cost</th>
        </thead>
        {% for subc in daydetails.subcontractor %}
        <tr{{ ' class=text-danger' if not subc[1] }}>
            <td>{{ subc[0] }}</td>
            <td>${{ '%.2f' % (subc[1] or 0) }}</td>
        </tr>
        {% endfor %}
        {% if daydetails.subcontractor|length < daydetails.material|length %}
        {% for i in range(daydetails.material|length - daydetails.subcontractor|length) %}
        <tr><td colspan="3">&nbsp;</td></tr>
        {% endfor %}
        {% endif %}
        <tfoot class="table-success">
            <th class="text-right">Total:</th>
            <th>${{ '%.2f' % (daydetails.subcontractor|sum('cost')) }}</th>
        </tfoot>
    </table>
</div>
<div class="col-6">
    <h4>Materials</h4>
    <table class="table table-sm ml-3">
        <thead>
            <th>Name</th>
            <th>Amount</th>
            <th>Cost</th>
        </thead>
        {% for material in daydetails.material %}
        <tr{{ ' class=text-danger' if not material[2] }}>
            <td>{{ material[0] }}</td>
            <td>{{ material[1] }}</td>
            <td>${{ '%.2f' % (material[2] or 0) }}</td>
        </tr>
        {% endfor %}
        {% if daydetails.subcontractor|length > daydetails.material|length %}
        {% for i in range(daydetails.subcontractor|length - daydetails.material|length) %}
        <tr><td colspan="3">&nbsp;</td></tr>
        {% endfor %}
        {% endif %}
        <tfoot class="table-success">
            <th class="text-right" colspan="2">Total:</th>
            <th>${{ '%.2f' % (daydetails.material|sum('cost')) }}</th>
        </tfoot>
    </table>
</div>
{% endfor %}
{% endif %}
{% if allmdetails %}
<div class="col-12 h4 border-bottom border-dark">Material details</div>
{% for mdetails in allmdetails %}
<div class="col-auto pt-3 pb-1 border-bottom border-dark">
    <h5 class="bg-info text-white px-3 rounded-pill">{{ mdetails.name }}</h5>
    <table class="table table-sm ml-3 d-inline">
        <thead><th>Date</th><th>Cost</th></thead>
        {% for mdetail in mdetails.details %}
        <tr{{ ' class=text-danger' if not mdetail.cost }}>
            <td>{{ mdetail.jobdate }}</td>
            <td class="text-right">${{ '{:,.2f}'.format(mdetail.cost) }}</td>
        </tr>
        {% endfor %}
        <tfoot class="table-success">
            <th>Total:</th>
            <th>${{ '%0.2f' % (mdetails.details|sum('cost')) }}</th>
        </tfoot>
    </table>
</div>
{% endfor %}
{% endif %}
{% if allsdetails %}
<div class="col-12 h4 border-bottom border-dark">Subcontractor details</div>
{% for sdetails in allsdetails %}
<div class="col-auto pt-3 pb-1 border-bottom border-dark">
    <h5 class="bg-info text-white px-3 rounded-pill">{{ sdetails.name }}</h5>
    <table class="table table-sm ml-3 d-inline">
        <thead><th>Date</th><th>Cost</th></thead>
        {% for sdetail in sdetails.details %}
        <tr{{ ' class=text-danger' if not sdetail.cost }}>
            <td>{{ sdetail.jobdate }}</td>
            <td class="text-right">${{ '{:,.2f}'.format(sdetail.cost) }}</td>
        </tr>
        {% endfor %}
        <tfoot class="table-success">
            <th>Total:</th>
            <th>${{ '%0.2f' % (sdetails.details|sum('cost')) }}</th>
        </tfoot>
    </table>
</div>
{% endfor %}
{% endif %}
{% endblock %}