{% extends 'base.html' %}

{% block subheading %}{% block title %}Settings{% endblock %}{% endblock %}

{% block content %}
    <div class="col-md-9">
        <form method="POST">
            <input type="hidden" name="form-id" value="settings">
            <fieldset id="settings">
                {% for item in form %}
                <div class="form-group">
                    {{item.label}}
                    {{item()|safe}}
                    {% if item.description %}
                    <small id="itemHelp" class="form-text text-muted mx-sm-2">{{item.description}}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <a href="{{url_for('settings')}}" class="btn btn-danger">Reset</a>
                <input type="submit" name="Submit" value="Save Settings" class="btn btn-primary">
            </fieldset>
        </form>
    </div>
{% endblock %}
