{% extends 'base.html' %}

{% block subheading %}{% block title %}Works Summary{% endblock %}{% endblock %}

{% block content %}
    <div class="col-12 table-responsive">
        <h5>Summary by TMP/TGS</h5>
        <table class="table table-sm table-striped">
            <tr class="table-success"><th>Job No</th><th>Days</th></tr>
        {% for key, val in bytmp|dictsort %}
            <tr><th>{{ key }}</th><td>{{ val|days|join(', ') }}</td></tr>
        {% endfor %}
        </table>
        <h5>Summary by job</h5>
        <table class="table table-sm table-striped">
        {% for pm, jobid, desc in byjob %}
        <tr><td>{{pm}}{{jobid}}</td><td>{{desc}}</td></tr>
        {% endfor %}
        </table>
        <h5>Summary by day</h5>
        <table class="table table-sm">
            {% for key, val in summary|dictsort %}
                <tr class="table-success"><th colspan="3" scope="row">{{ key|nicedate }}</th></tr>
                {% for line in val %}
                    <tr>
                        {% for item in line %}
                        <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
