{% extends 'base.html' %}

{% block subheading %}{% block title %}Daily Work Instructions{% endblock %}{% endblock %}

{% block content %}
    {% for month, files in filesbymonth|dictsort(reverse=true) %}
        <div class="col-12">
            <h4>{{ month|monthname }}</h4>
        </div>
        {% for file in files|sort(reverse=true) %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-truncate px-1">
            <a href="{{ url_for('static', filename='DWI/' + file) }}" target="_blank">{{ file }}</a>
        </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
