body {
    background-color: white;
}

#tz_logo {
    width: 150px;
}

#content-spacer {
    margin-top: 40px;
}

label {
    font-weight: bold;
}

::placeholder {
    color: coral !important;
}

:-ms-input-placeholder {
    color: coral !important;
}

::-ms-input-placeholder {
    color: coral !important;
}
